.navbar{
  display: flex;
  justify-content: center;
  padding : 20px;
  color : rgb(0, 0, 0);
  background-color: rgb(78, 108, 180);
  font-size: 30px;
  color: white;
}

.searchBar{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.card{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.navbarLink.a{
  text-decoration: none;
}

.navbarLink:hover {
  color: white;
}

.navbarLink:active {
  color: white;
}

.navbarLink:visited {
  color: white;
}



@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1024px) {
  .container header .header-nav-area #nav_container  {
    display:flex;
  }
}